.contact-container {
  display: flex;
  position: relative;
  padding: 20px 0px 10px 0px;
  width: 90%;

  .enquiries-half {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0;
    align-items: center;
  }
  .feedback-half {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    flex: 1 0;
    margin-top: 0px;
  }
  .header-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border: 12px solid #00664E;
    background-color: #f8f8f8;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  .header-circle :hover {
    color:  #00664D;
    cursor: pointer;
  }
  .description-container {
    width: 70%;
    padding: 30px;
    border: 4px solid #00664E;
    background-color: #f8f8f8;
    text-align:left;
    .enquiries-list {
      padding: 10px 20px 10px 30px;
      li {
        text-align: left;
      }
    }
  }
  .description-container :hover {
    cursor: pointer;
    color: #00664D;
  }
}

@media (max-width: 768px) {
  .header-circle {
    width: 200px !important;
    height: 200px !important;
  }
  .enquiries-half {
    margin-bottom: 45px;
    width: 100%;
  }
  .feedback-half {
    width: 100%;
  }
  .contact-container {
    flex-flow: column wrap;
  }
  .description-container {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  .header-circle {
    width: 325px !important;
    height: 325px !important;
  }
  .contact-container {
    flex-flow: column wrap;
  }
}
