  <ul>
    <li><a href="mailto:rashmi.shetty@hackney.gov.uk">Rashmi Shetty: rashmi.shetty@hackney.gov.uk - Development and Integration Manager, Enterprise Architect, Product Owner for Platform APIs</a></li>
    <li><a href="mailto:mirela.georgieva@hackney.gov.uk">Mirela Georgieva: mirela.goergieve@hackney.gov.uk - Solution Architect and Lead Developer</a></li>
    <li><a href="mailto:selwyn.preston@hackney.gov.uk">Selwyn Preston: selwyn.preston@hackney.gov.uk - Tech Lead</a></li>
    <li><a href="mailto:david.deam@hackney.gov.uk">David Dean: david.dean@hackney.gov.uk - Lead Developer</a></li>
    <li><a href="mailto:faisal.gazi@hackney.gov.uk">Faisal Gazi: faisal.gazi@hackney.gov.uk - Lead Developer</a></li>
    <li><a href="mailto:tuomo.karki@hackney.gov.uk">Tuomo Karki: tuomo.karki@hackney.gov.uk - Lead Developer</a></li>
    <li><a href="mailto:humairaa.mulla@hackney.gov.uk">Humairaa Mulla: humairaa.mulla@hackney.gov.uk - Developer, Maintainer and Collaborator</a></li>
    <li><a href="mailto:livia.basiu@hackney.gov.uk">Livia Basiu: livia.basiu@hackney.gov.uk - Maintainer and Collaborator</a></li>
    <li><a href="mailto:atiyyah.rawat@hackney.gov.uk">Atiyyah Rawat: atiyyah.rawat@hackney.gov.uk - Maintainer and Collaborator</a></li>
    <li><a href="mailto:elena.evans@hackney.gov.uk">Elena Evans: elena.evans@hackney.gov.uk - Maintainer and Collaborator</a></li>
    <li><a href="mailto:jerome.wanliss@hackney.gov.uk">Jerome Wanliss: jerome.wanliss@hackney.gov.uk - Maintainer and Collaborator</a></li>
    <li><a href="mailto:michael.ndukwe@hackney.gov.uk">Michael Ndukwe: michael.ndukwe:hackney.gov.uk - Maintainer and Collaborator</a></li>
    <li><a href="mailto:ben.reynolds-carr@hackney.gov.uk">Ben Reynolds-Carr: ben.reynolds-carr@hackney.gov.uk - Junior Developer</a></li>
    <li><a href="mailto:miles.alford-carr@hackney.gov.uk">Miles Alford: miles.alford@hackney.gov.uk - Junior Developer</a></li>
    <li><a href="mailto:luidvikas.taluntis@hackney.gov.uk">Luidvikas Taluntis: luidvikas.taluntis@hackney.gov.uk - Junior Developer</a></li>
    <li><a href="mailto:callum.macpherson@hackney.gov.uk">Callum Macpherson: callum.macpherson@hackney.gov.uk - Junior Developer</a></li>
    <li><a href="mailto:marta.pederiva@hackney.gov.uk">Marta Pederiva: marta.pederiva@hackney.gov.uk - Junior Developer</a></li>
  </ul>
