#apisList > .apiPreview {
    padding: 10px;
    border: 1px solid rgba(173,171,171,.4);
    border-radius: 3px;
    list-style-type: none;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lbh-tag {
            margin: 0px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .title{
            display: flex;
            align-items: center;

            >{ display: inline; }

            p {
                margin: 0;
                margin-left: 0.5em;
                font-style: italic;
            }
        }

    }
}