#login-page{
    .sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(173,171,171,.4);
        flex-direction: column;
        padding: 1em;
    }
}
