#applications-table{
    .table-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * { margin: 0 }
    }
    .lbh-summary-list {
        margin-top: 1.5em;
    }

    .govuk-summary-list__row {
        display: flex;
        justify-content: space-between;
        gap: 1em;

        .application-cell {
            width: 50%;
            border-bottom: 1px solid #b1b4b6;
            .govuk-summary-list__actions, .govuk-summary-list__key { border: none; }
        }
    }
    
    @media screen and (max-width: 1024px) {
        .table-header{
            flex-direction: column;
            gap: 2em;
        }

        .govuk-summary-list__row 
        {
            flex-direction: column;
            .application-cell {
                width: 100%;
            }
        }
    }
}
