#home-page {
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    > .main-container {
      display: block !important;

      position: relative;
      left: 240px;
      flex: 5;
      padding: 85px 90px 70px 90px;
      width: calc(100vw - 240px);
    }
    > .sidebar {
      flex: 1;
      height:100%;
      border-right: 2px solid #bfc1c3;
    }
}

.navigation-header {
  padding: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: 1px solid #bfc1c3;
}
.lbh-main-wrapper :hover{
  cursor: pointer;
  //color: #00664D;
}

@media (max-width: 951px) {
  #home-page {
    > .main-container {
      padding-top: 200px;
    }
  }
}

@media (max-width: 701px) {
  #home-page {
    position: relative;
    top: 20px;
    > .main-container {
      display: block;
      left: 0px;
      width: 100vw;
      padding: 15px;
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
}

@media (max-width: 460px) {
  #home-page {
    top: 20px;
  }
}
