#home-page {
    display: flex;
    height: calc(100vh - 162px);
    justify-content: center;
    align-items: flex-start;
    > .main-container {
      flex: 5;
      padding: 30px 90px 30px 90px;
    }
    > .sidebar {
      flex: 1;
    }
}

.navigation-header {
  padding: 20px;
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: 1px solid gray;
}
