@import "node_modules/lbh-frontend/lbh/components/lbh-header/header";

#header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.nav-items {
  margin-top: 0px;
  .nav-item {
    color: white !important;
    cursor: pointer;
    margin: 8px !important;
    font-weight: bold !important;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}

.welcome{
  align-items: right !important;
  margin-right: 10px !important;
  justify-content: right !important;

  text-align: center;
}

.lbh-header__logo-text {
  color: white !important;
  padding-bottom: 5px !important;
}
.lbh-logo-and-title {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.name{
  margin-top: 10px;
  font-weight: bold;
cursor:pointer;
&:hover {
  opacity: 0.8;
  }
&:active {
  opacity: 0.6;
  }
}

.name-tag{
  margin-top: 1px;
  float: right;
  margin-right: 20%
}


@media (max-width: 460px) {
  .lbh-container {
    .name {
      position: relative !important;
      margin-top: 0px;
      margin-bottom: 20px;
      left: 0% !important;
      top: 10px;
    }
    .lbh-header__title {
      left: 0px !important;
    }
  }
}

@media (max-width: 576px) {
  .lbh-container {
    flex-flow: column wrap;
    justify-content: left;
    align-items: left;
  }
}

@media (max-width: 700px) {
  .lbh-header__service-name{
    padding-top: 4px !important;
  }
}

@media (max-width: 951px) {
  .lbh-container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .name {
      position: absolute;
      margin-top: 20px;
      margin-bottom: 20px;
      left: 50%;
      top: 10px;
    }
    .lbh-header__title {
      position: relative;
      left: -98px;
    }
    .lbh-header__logo {
      width: 215px !important;
      height: auto !important;
    }
  }
}
