@import "node_modules/lbh-frontend/lbh/components/lbh-header/header";

.nav-items {
  position: relative;
  top: -15px;
  .nav-item {
    color: white !important;
    cursor: pointer;
    margin: 8px !important;
    font-weight: bold !important;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
