@import "node_modules/lbh-frontend/lbh/components/lbh-header/header";
header {
  position: fixed !important;
  width: 100%;
  z-index: 20 !important;
}

.nav-items {
  margin-top: 0px;
  .nav-item {
    color: white !important;
    cursor: pointer;
    margin: 8px !important;
    font-weight: bold !important;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 0.6;
    }
  }
}

.lbh-header__logo-text {
  color: white !important;
}
.lbh-logo-and-title {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.name{
  margin-top: 0px;
font-weight: bold;
cursor:pointer;
&:hover {
  opacity: 0.8;
  }
&:active {
  opacity: 0.6;
  }
}

@media (max-width: 460px) {
  .lbh-container {
    .name {
      position: relative !important;
      margin-top: 0px;
      margin-bottom: 20px;
      left: 0% !important;
      top: 10px;
    }
    .lbh-header__title {
      left: 0px !important;
    }
  }
}

@media (max-width: 576px) {
  .lbh-container {
    flex-flow: column wrap;
    justify-content: left;
    align-items: left;
  }
}

@media (max-width: 950px) {
  .lbh-container {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .name {
      position: absolute;
      margin-top: 20px;
      margin-bottom: 20px;
      left: 50%;
      top: 10px;
    }
    .lbh-header__title {
      position: relative;
      left: -98px;
    }
    .lbh-header__logo {
      width: 215px !important;
      height: auto !important;
    }
  }
}
