#apis-page {
    padding: 4em;
    padding-top: 6em;
    @media (max-width: $mobile-width) { 
        padding-left: 1em;
        padding-right: 1em;
    }
    .heading{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * { margin: 0; }

        @media (max-width: $mobile-width) {
            flex-flow: column;
            gap: 1.5rem;
            align-items: baseline;
            .lbh-search-box{
                width: 100%;
                input { max-width: 100%; }
            }
        }
    }

    .govuk-details__text {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .lbh-form-group{
            display: flex;
            align-items: center;
            margin: 0;
            > * { margin: 0; }
            .lbh-label { margin-right: 0.5em; }
        }
    }
}
