#apis-page {
    #main-content{
        padding: 4em;
        padding-top: 6em;
        @media (max-width: $mobile-width) { padding: 0; }
        flex: 1;
    }
    .heading{
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        > * { margin: 0; }

        @media (max-width: $mobile-width) {
            flex-flow: column;
            gap: 1.5rem;
        }
    }

    .govuk-details__text {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        .lbh-form-group{
            display: flex;
            align-items: center;
            margin: 0;
            > * { margin: 0; }
            .lbh-label { margin-right: 0.5em; }
        }
    }
}
