#apis-page h1{
    margin-top: 0.5em;
}

.select-page-size {
    margin-top: 0;
    .lbh-form-group{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > * { margin: 0; }
        .lbh-label { margin-right: 0.5em; }
    }
} 
