.sidebar-page{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  min-height: 100%;
  flex: 2;
  overflow: auto;
  margin-top: auto;

 .sidebar {
    text-align: left;
    min-height: 100%;
    padding-right: 4em;
    border-right: 2px solid #bfc1c3;
    >* { display: block; }
    
    p {
      margin-top: 100px;
      margin-bottom: 10px;
    }
  
    a.sidebarLink {
      word-wrap: break-word;
      font-size: 18px;
      color: #00664E;
      padding-left: 20px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;
      margin: 0;
      &:visited { color: rgb(0,82,62); }
      &:hover {
        background:#00664E;
        color: white;
      }
    }
  }
}


@media (max-width: $mobile-width) {
  .sidebar-page{
    flex-flow: column;
    .sidebar {
      border-right: none;
      border-bottom: 2px solid #bfc1c3;
      text-align: center;
      padding: 0;
      > p {
        width: 100%;
        padding: 10px 0px 15px 20px;
        top: 20px;
      }
    }
  }
}
