#app-footer {
  position: fixed;
  width:100%;
  display: flex;
  background: black;
  flex-flow: row wrap;
  height: 60px;
  bottom: 0px !important;
  justify-content: space-around;
  .footer-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 0px;
    flex: 1 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  margin-top:0px;
}
