#app-footer {
  position: absolute;
  top: calc(100% - 60px);
  display: flex;
  background: black;
  flex-flow: row wrap;
  height: 60px;
  justify-content: space-around;
  .footer-col {
    text-align: center;
    position: relative;
    margin-top: 0px;
    flex: 1 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  margin-top:0px;
}
