#app-footer {
  margin-top: auto;
  padding: 20px 20px 20px 10px;
  display: flex;
  background: black;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  bottom: 0px;
  .footer-col {
    text-align: center;
    position: relative;
    margin-top: 0px;
    flex: 1 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
