.govuk-breadcrumbs {
    margin: 0;
    a, a:visited {
        color: #025EA6;
        font-weight: 400;
    }
}

.govuk-breadcrumbs__list-item > .govuk-breadcrumbs__list-item{
    margin-bottom: 0;

}

.govuk-breadcrumbs__list-item {
    font-weight: bold !important;
}
