// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Import LBH Frontend library
$lbh-asset-path: "~lbh-frontend/lbh/assets";
@import "~lbh-frontend/lbh/all";
// @import "node_modules/js-cookie/dist/js.cookie/all";

// Component Styling
@import "./components/header/header.style.scss";
@import "./components/link/link.style.scss";
@import "./components/form-input/form-input.style.scss";
@import "./components/button/button.style.scss";
@import "./components/footer/footer.style.scss";
@import "./components/apiPreview/apiPreview.style.scss";
@import "./components/pagination/pagination.style.scss";
@import "./components/contact-container/contact-container.style.scss";
@import "./components/sidebar/sidebar.style.scss";
@import "./components/breadcrumbs/breadcrumbs.style.scss";
@import "./components/select/select.style.scss";
@import "./components/environmentTags/environmentTags.style.scss";

// Page Styling
@import "./pages/login/login.style.scss";
@import "./pages/register/register.style.scss";
@import "./pages/apiCatalogue/apiCatalogue.style.scss";
@import "./pages/apiInformation/apiInformation.style.scss";
@import "./pages/home/home.style.scss";
@import "./pages/contact/contact.style.scss";

* {
  font-family: 'Open Sans', sans-serif !important;
}

body {
  margin-top: 0px !important;
}

body * {
  box-sizing: border-box !important;
}

#root {
  position: relative;
  margin-top: 0px !important;
  min-height: 100vh;
  overflow-x: hidden;
}

#main-content{
  min-height: calc(100% - 162px);
  padding: 0px !important;
}

a {
  &:hover {
    cursor: pointer;
  }
}
