@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.govuk-link {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline; }
  @media print {
    .govuk-link {
      font-family: sans-serif; } }
  .govuk-link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffc845;
    box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
    text-decoration: none; }
  .govuk-link:link {
    color: #025ea6; }
  .govuk-link:visited {
    color: #4c2c92; }
  .govuk-link:hover {
    color: #003078; }
  .govuk-link:active {
    color: #0b0c0c; }
  .govuk-link:focus {
    color: #0b0c0c; }
  @media print {
    [href^="/"].govuk-link:after, [href^="http://"].govuk-link:after, [href^="https://"].govuk-link:after {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word; } }

.govuk-link--muted:link, .govuk-link--muted:visited {
  color: #505a5f; }
.govuk-link--muted:hover, .govuk-link--muted:active {
  color: #0b0c0c; }
.govuk-link--muted:focus {
  color: #0b0c0c; }

.govuk-link--text-colour:link, .govuk-link--text-colour:visited {
  color: #0b0c0c; }
  @media print {
    .govuk-link--text-colour:link, .govuk-link--text-colour:visited {
      color: #000000; } }
.govuk-link--text-colour:hover {
  color: rgba(11, 12, 12, 0.99); }
.govuk-link--text-colour:active, .govuk-link--text-colour:focus {
  color: #0b0c0c; }
  @media print {
    .govuk-link--text-colour:active, .govuk-link--text-colour:focus {
      color: #000000; } }

.govuk-link--inverse:link, .govuk-link--inverse:visited {
  color: #ffffff; }
.govuk-link--inverse:hover, .govuk-link--inverse:active {
  color: rgba(255, 255, 255, 0.99); }
.govuk-link--inverse:focus {
  color: #0b0c0c; }

.govuk-link--no-underline:not(:hover):not(:active) {
  text-decoration: none; }

.govuk-link--no-visited-state:link {
  color: #025ea6; }
.govuk-link--no-visited-state:visited {
  color: #025ea6; }
.govuk-link--no-visited-state:hover {
  color: #003078; }
.govuk-link--no-visited-state:active {
  color: #0b0c0c; }
.govuk-link--no-visited-state:focus {
  color: #0b0c0c; }

.govuk-list {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-type: none; }
  @media print {
    .govuk-list {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-list {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-list {
      font-size: 14pt;
      line-height: 1.15; } }
  @media print {
    .govuk-list {
      color: #000000; } }
  @media (min-width: 40.0625em) {
    .govuk-list {
      margin-bottom: 20px; } }
  .govuk-list .govuk-list {
    margin-top: 10px; }

.govuk-list > li {
  margin-bottom: 5px; }

.govuk-list--bullet {
  padding-left: 20px;
  list-style-type: disc; }

.govuk-list--number {
  padding-left: 20px;
  list-style-type: decimal; }

.govuk-list--bullet > li,
.govuk-list--number > li {
  margin-bottom: 0; }
  @media (min-width: 40.0625em) {
    .govuk-list--bullet > li,
    .govuk-list--number > li {
      margin-bottom: 5px; } }

.govuk-list--spaced > li {
  margin-bottom: 10px; }
  @media (min-width: 40.0625em) {
    .govuk-list--spaced > li {
      margin-bottom: 15px; } }

.govuk-template {
  background-color: #f3f2f1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }
  @media screen {
    .govuk-template {
      overflow-y: scroll; } }

.govuk-template__body {
  margin: 0;
  background-color: #ffffff; }

.govuk-heading-xl {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px; }
  @media print {
    .govuk-heading-xl {
      color: #000000; } }
  @media print {
    .govuk-heading-xl {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-xl {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1.0416666667; } }
  @media print {
    .govuk-heading-xl {
      font-size: 32pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-xl {
      margin-bottom: 50px; } }

.govuk-heading-l {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  display: block;
  margin-top: 0;
  margin-bottom: 20px; }
  @media print {
    .govuk-heading-l {
      color: #000000; } }
  @media print {
    .govuk-heading-l {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-l {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 1.1111111111; } }
  @media print {
    .govuk-heading-l {
      font-size: 24pt;
      line-height: 1.05; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-l {
      margin-bottom: 30px; } }

.govuk-heading-m {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }
  @media print {
    .govuk-heading-m {
      color: #000000; } }
  @media print {
    .govuk-heading-m {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-m {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media print {
    .govuk-heading-m {
      font-size: 18pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-m {
      margin-bottom: 20px; } }

.govuk-heading-s {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-top: 0;
  margin-bottom: 15px; }
  @media print {
    .govuk-heading-s {
      color: #000000; } }
  @media print {
    .govuk-heading-s {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-s {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-heading-s {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-heading-s {
      margin-bottom: 20px; } }

.govuk-caption-xl {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f; }
  @media print {
    .govuk-caption-xl {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-caption-xl {
      font-size: 27px;
      font-size: 1.6875rem;
      line-height: 1.1111111111; } }
  @media print {
    .govuk-caption-xl {
      font-size: 18pt;
      line-height: 1.15; } }

.govuk-caption-l {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-bottom: 5px;
  color: #505a5f; }
  @media print {
    .govuk-caption-l {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-caption-l {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media print {
    .govuk-caption-l {
      font-size: 18pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-caption-l {
      margin-bottom: 0; } }

.govuk-caption-m {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  color: #505a5f; }
  @media print {
    .govuk-caption-m {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-caption-m {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-caption-m {
      font-size: 14pt;
      line-height: 1.15; } }

.govuk-body-l, .govuk-body-lead {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin-top: 0;
  margin-bottom: 20px; }
  @media print {
    .govuk-body-l, .govuk-body-lead {
      color: #000000; } }
  @media print {
    .govuk-body-l, .govuk-body-lead {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-body-l, .govuk-body-lead {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media print {
    .govuk-body-l, .govuk-body-lead {
      font-size: 18pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-body-l, .govuk-body-lead {
      margin-bottom: 30px; } }

.govuk-body-m, .govuk-body {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px; }
  @media print {
    .govuk-body-m, .govuk-body {
      color: #000000; } }
  @media print {
    .govuk-body-m, .govuk-body {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-body-m, .govuk-body {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-body-m, .govuk-body {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (min-width: 40.0625em) {
    .govuk-body-m, .govuk-body {
      margin-bottom: 20px; } }

.govuk-body-s {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  margin-top: 0;
  margin-bottom: 15px; }
  @media print {
    .govuk-body-s {
      color: #000000; } }
  @media print {
    .govuk-body-s {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-body-s {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.25; } }
  @media print {
    .govuk-body-s {
      font-size: 14pt;
      line-height: 1.2; } }
  @media (min-width: 40.0625em) {
    .govuk-body-s {
      margin-bottom: 20px; } }

.govuk-body-xs {
  color: #0b0c0c;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px; }
  @media print {
    .govuk-body-xs {
      color: #000000; } }
  @media print {
    .govuk-body-xs {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-body-xs {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.4285714286; } }
  @media print {
    .govuk-body-xs {
      font-size: 12pt;
      line-height: 1.2; } }
  @media (min-width: 40.0625em) {
    .govuk-body-xs {
      margin-bottom: 20px; } }

.govuk-body-l + .govuk-heading-l, .govuk-body-lead + .govuk-heading-l {
  padding-top: 5px; }
  @media (min-width: 40.0625em) {
    .govuk-body-l + .govuk-heading-l, .govuk-body-lead + .govuk-heading-l {
      padding-top: 10px; } }

.govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l,
.govuk-body-s + .govuk-heading-l,
.govuk-list + .govuk-heading-l {
  padding-top: 15px; }
  @media (min-width: 40.0625em) {
    .govuk-body-m + .govuk-heading-l, .govuk-body + .govuk-heading-l,
    .govuk-body-s + .govuk-heading-l,
    .govuk-list + .govuk-heading-l {
      padding-top: 20px; } }

.govuk-body-m + .govuk-heading-m, .govuk-body + .govuk-heading-m,
.govuk-body-s + .govuk-heading-m,
.govuk-list + .govuk-heading-m,
.govuk-body-m + .govuk-heading-s,
.govuk-body + .govuk-heading-s,
.govuk-body-s + .govuk-heading-s,
.govuk-list + .govuk-heading-s {
  padding-top: 5px; }
  @media (min-width: 40.0625em) {
    .govuk-body-m + .govuk-heading-m, .govuk-body + .govuk-heading-m,
    .govuk-body-s + .govuk-heading-m,
    .govuk-list + .govuk-heading-m,
    .govuk-body-m + .govuk-heading-s,
    .govuk-body + .govuk-heading-s,
    .govuk-body-s + .govuk-heading-s,
    .govuk-list + .govuk-heading-s {
      padding-top: 10px; } }

.govuk-section-break {
  margin: 0;
  border: 0; }

.govuk-section-break--xl {
  margin-top: 30px;
  margin-bottom: 30px; }
  @media (min-width: 40.0625em) {
    .govuk-section-break--xl {
      margin-top: 50px; } }
  @media (min-width: 40.0625em) {
    .govuk-section-break--xl {
      margin-bottom: 50px; } }

.govuk-section-break--l {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 40.0625em) {
    .govuk-section-break--l {
      margin-top: 30px; } }
  @media (min-width: 40.0625em) {
    .govuk-section-break--l {
      margin-bottom: 30px; } }

.govuk-section-break--m {
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (min-width: 40.0625em) {
    .govuk-section-break--m {
      margin-top: 20px; } }
  @media (min-width: 40.0625em) {
    .govuk-section-break--m {
      margin-bottom: 20px; } }

.govuk-section-break--visible {
  border-bottom: 1px solid #b1b4b6; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.lbh-link {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .lbh-link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffc845;
    box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
    text-decoration: none; }
  .lbh-link:link {
    color: #025ea6; }
  .lbh-link:visited {
    color: #8031a7; }
  .lbh-link:hover {
    color: #0085ca; }
  .lbh-link:active {
    color: #2b8cc4; }
  .lbh-link:focus {
    color: #0b0c0c; }
  @media print {
    .lbh-link[href^="/"]:after, .lbh-link[href^="http://"]:after, .lbh-link[href^="https://"]:after {
      content: " (" attr(href) ")";
      font-size: 90%;
      word-wrap: break-word; } }

.lbh-link--muted:link, .lbh-link--muted:visited {
  color: #505a5f; }
.lbh-link--muted:hover, .lbh-link--muted:active {
  color: #0b0c0c; }
.lbh-link--muted:focus {
  color: #0b0c0c; }

.lbh-link--danger:link {
  color: #be3a34; }
.lbh-link--danger:visited {
  color: #be3a34; }
.lbh-link--danger:focus {
  color: #0b0c0c; }

.lbh-link--text-colour:link, .lbh-link--text-colour:visited {
  color: #0b0c0c; }
  @media print {
    .lbh-link--text-colour:link, .lbh-link--text-colour:visited {
      color: #000000; } }
.lbh-link--text-colour:hover {
  color: rgba(11, 12, 12, 0.99); }
.lbh-link--text-colour:active, .lbh-link--text-colour:focus {
  color: #0b0c0c; }
  @media print {
    .lbh-link--text-colour:active, .lbh-link--text-colour:focus {
      color: #000000; } }

.lbh-link--no-visited-state:link {
  color: #025ea6; }
.lbh-link--no-visited-state:visited {
  color: #025ea6; }
.lbh-link--no-visited-state:hover {
  color: #003078; }
.lbh-link--no-visited-state:active {
  color: #0b0c0c; }
.lbh-link--no-visited-state:focus {
  color: #0b0c0c; }

button.lbh-link {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem;
  color: #025ea6;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0; }
  @media (min-width: 40.0625em) {
    button.lbh-link {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.lbh-list {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0;
  list-style-type: none;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  line-height: 1.1875rem; }
  * + .lbh-list {
    margin-top: 1.5em; }
  @media (min-width: 40.0625em) {
    .lbh-list {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 23px;
      line-height: 1.4375rem; } }
  .lbh-list .lbh-list,
  .lbh-list .govuk-list {
    margin-top: 12px;
    margin-top: 0.75rem; }
  .lbh-list > li + li {
    margin-top: 12px;
    margin-top: 0.75rem; }

.lbh-list--bullet {
  padding-left: 18px;
  padding-left: 1.125rem;
  list-style-type: disc; }
  .lbh-list--bullet > li {
    margin-bottom: 0; }
  .lbh-list--bullet .lbh-list--bullet {
    list-style-type: circle; }

.lbh-list--number {
  padding-left: 18px;
  padding-left: 1.125rem;
  list-style-type: decimal; }
  .lbh-list--number > li {
    margin-bottom: 0; }

.lbh-heading-h1,
h1 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h1,
    h1 {
      font-size: 48px;
      font-size: 3rem;
      line-height: 58px;
      line-height: 3.625rem; } }

.lbh-heading-h2,
h2 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 29px;
  line-height: 1.8125rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h2,
    h2 {
      font-size: 30px;
      font-size: 1.875rem;
      line-height: 36px;
      line-height: 2.25rem; } }

.lbh-heading-h3,
h3 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h3,
    h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 29px;
      line-height: 1.8125rem; } }

.lbh-heading-h4,
h4 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h4,
    h4 {
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 24px;
      line-height: 1.5rem; } }

.lbh-heading-h5,
h5 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  line-height: 19px;
  line-height: 1.1875rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h5,
    h5 {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; } }

.lbh-heading-h6,
h6 {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 17px;
  line-height: 1.0625rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-h6,
    h6 {
      font-size: 16px;
      font-size: 1rem;
      line-height: 19px;
      line-height: 1.1875rem; } }

.lbh-heading-large-light {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  color: #0b0c0c;
  font-weight: 600;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
  line-height: 1.8125rem; }
  @media (min-width: 40.0625em) {
    .lbh-heading-large-light {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 43px;
      line-height: 2.6875rem; } }

.lbh-body-l {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 28px;
  line-height: 1.75rem; }
  @media (min-width: 40.0625em) {
    .lbh-body-l {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 33px;
      line-height: 2.0625rem; } }

.lbh-body-m {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem; }
  @media (min-width: 40.0625em) {
    .lbh-body-m {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.lbh-body-s {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 19px;
  line-height: 1.1875rem; }
  @media (min-width: 40.0625em) {
    .lbh-body-s {
      font-size: 16px;
      font-size: 1rem;
      line-height: 24px;
      line-height: 1.5rem; } }

.lbh-body-xs {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 24px;
  line-height: 1.5rem; }

.lbh-caption {
  color: #525a5b; }

[class*="govuk-caption"] + [class*="lbh-heading"] {
  margin-top: 0px; }

.lbh-body-lead {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 28px;
  line-height: 1.75rem; }
  @media (min-width: 40.0625em) {
    .lbh-body-lead {
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 33px;
      line-height: 2.0625rem; } }

.lbh-body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem; }
  @media (min-width: 40.0625em) {
    .lbh-body {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

strong {
  font-weight: 600; }

* {
  margin: 0; }

* + * {
  margin-top: 1.5em; }

@media (min-width: 40.0625em) {
  * + [class|="govuk-grid-column"] {
    margin-top: 0; } }
html {
  scroll-behavior: smooth; }

.govuk-button-group {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 40.0625em) {
    .govuk-button-group {
      margin-bottom: 15px; } }
  .govuk-button-group .govuk-link {
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    display: inline-block;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center; }
    @media print {
      .govuk-button-group .govuk-link {
        font-family: sans-serif; } }
    @media (min-width: 40.0625em) {
      .govuk-button-group .govuk-link {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1; } }
    @media print {
      .govuk-button-group .govuk-link {
        font-size: 14pt;
        line-height: 19px; } }
  .govuk-button-group .govuk-button {
    margin-bottom: 17px; }
  @media (min-width: 40.0625em) {
    .govuk-button-group {
      margin-right: -15px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: baseline;
      -webkit-align-items: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .govuk-button-group .govuk-button,
      .govuk-button-group .govuk-link {
        margin-right: 15px; }
      .govuk-button-group .govuk-link {
        text-align: left; } }

.govuk-form-group {
  margin-bottom: 20px; }
  .govuk-form-group:after {
    content: "";
    display: block;
    clear: both; }
  @media (min-width: 40.0625em) {
    .govuk-form-group {
      margin-bottom: 30px; } }
  .govuk-form-group .govuk-form-group:last-of-type {
    margin-bottom: 0; }

.govuk-form-group--error {
  padding-left: 15px;
  border-left: 5px solid #d4351c; }
  .govuk-form-group--error .govuk-form-group {
    padding: 0;
    border: 0; }

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px; }
  .govuk-grid-row:after {
    content: "";
    display: block;
    clear: both; }

.govuk-grid-column-one-quarter {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-one-quarter {
      width: 25%;
      float: left; } }

.govuk-grid-column-one-third {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-one-third {
      width: 33.3333%;
      float: left; } }

.govuk-grid-column-one-half {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-one-half {
      width: 50%;
      float: left; } }

.govuk-grid-column-two-thirds {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-two-thirds {
      width: 66.6666%;
      float: left; } }

.govuk-grid-column-three-quarters {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-three-quarters {
      width: 75%;
      float: left; } }

.govuk-grid-column-full {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px; }
  @media (min-width: 40.0625em) {
    .govuk-grid-column-full {
      width: 100%;
      float: left; } }

.govuk-grid-column-one-quarter-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-one-quarter-from-desktop {
      width: 25%;
      float: left; } }

.govuk-grid-column-one-third-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-one-third-from-desktop {
      width: 33.3333%;
      float: left; } }

.govuk-grid-column-one-half-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-one-half-from-desktop {
      width: 50%;
      float: left; } }

.govuk-grid-column-two-thirds-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-two-thirds-from-desktop {
      width: 66.6666%;
      float: left; } }

.govuk-grid-column-three-quarters-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-three-quarters-from-desktop {
      width: 75%;
      float: left; } }

.govuk-grid-column-full-from-desktop {
  box-sizing: border-box;
  padding: 0 15px; }
  @media (min-width: 48.0625em) {
    .govuk-grid-column-full-from-desktop {
      width: 100%;
      float: left; } }

.govuk-main-wrapper {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 40.0625em) {
    .govuk-main-wrapper {
      padding-top: 40px;
      padding-bottom: 40px; } }

.govuk-main-wrapper--auto-spacing:first-child,
.govuk-main-wrapper--l {
  padding-top: 30px; }
  @media (min-width: 40.0625em) {
    .govuk-main-wrapper--auto-spacing:first-child,
    .govuk-main-wrapper--l {
      padding-top: 50px; } }

.govuk-width-container {
  max-width: 960px;
  margin-right: 15px;
  margin-left: 15px; }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(15px, calc(15px + env(safe-area-inset-left))); } }
  @media (min-width: 40.0625em) {
    .govuk-width-container {
      margin-right: 30px;
      margin-left: 30px; }
      @supports (margin: max(calc(0px))) {
        .govuk-width-container {
          margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
          margin-left: max(30px, calc(15px + env(safe-area-inset-left))); } } }
  @media (min-width: 1020px) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto; }
      @supports (margin: max(calc(0px))) {
        .govuk-width-container {
          margin-right: auto;
          margin-left: auto; } } }

.lbh-form-group {
  margin-bottom: 0; }

.lbh-main-wrapper {
  display: block;
  margin-top: 0;
  padding-top: 36px;
  padding-top: 2.25rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem; }
  @media (min-width: 40.0625em) {
    .lbh-main-wrapper {
      padding-top: 60px;
      padding-top: 3.75rem;
      padding-bottom: 60px;
      padding-bottom: 3.75rem; } }

.lbh-container {
  max-width: 960px;
  margin-right: 15px;
  margin-left: 15px; }
  @supports (margin: max(calc(0px))) {
    .lbh-container {
      margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(15px, calc(15px + env(safe-area-inset-left))); } }
  @media (min-width: 40.0625em) {
    .lbh-container {
      margin-right: 30px;
      margin-left: 30px; }
      @supports (margin: max(calc(0px))) {
        .lbh-container {
          margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
          margin-left: max(30px, calc(15px + env(safe-area-inset-left))); } } }
  @media (min-width: 1020px) {
    .lbh-container {
      margin-right: auto;
      margin-left: auto; }
      @supports (margin: max(calc(0px))) {
        .lbh-container {
          margin-right: auto;
          margin-left: auto; } } }

.lbh-header {
  position: relative;
  z-index: 4;
  margin-top: 0;
  padding-bottom: 21px;
  padding-bottom: 1.3125rem;
  border-bottom: 2px solid #84bd00;
  background: #ffffff; }
  .lbh-header--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; }
    .lbh-header--fixed + * {
      margin-top: 88px;
      margin-top: 5.5rem; }
      @media (min-width: 40.0625em) {
        .lbh-header--fixed + * {
          margin-top: 101px;
          margin-top: 6.3125rem; } }
    .lbh-skip-link:focus ~ .lbh-header--fixed {
      margin-top: 36px;
      margin-top: 2.25rem; }
      @media (min-width: 40.0625em) {
        .lbh-skip-link:focus ~ .lbh-header--fixed {
          margin-top: 40px;
          margin-top: 2.5rem; } }
  .lbh-header--purple {
    border-bottom-color: #df1995; }
  .lbh-header--red {
    border-bottom-color: #e03c31; }
  .lbh-header:before, .lbh-header:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0; }
  .lbh-header:before {
    bottom: 3px;
    border-bottom: 3px solid #00b341; }
  .lbh-header--red:before {
    border-bottom-color: #be3a34; }
  .lbh-header--purple:before {
    border-bottom-color: #aa0061; }
  .lbh-header:after {
    bottom: 9px;
    border-bottom: 4px solid #00664f; }
  .lbh-header--red:after {
    border-bottom-color: #81312f; }
  .lbh-header--purple:after {
    border-bottom-color: #672146; }
  .lbh-header__main {
    padding: 16px 0px 12px;
    padding: 1rem 0rem 0.75rem;
    color: #ffffff;
    background: #0b0c0c; }
    @media (min-width: 40.0625em) {
      .lbh-header__main {
        padding: 20px 0px 12px;
        padding: 1.25rem 0rem 0.75rem; } }
  .lbh-header--red .lbh-header__main {
    background: #be3a34; }
  .lbh-header--purple .lbh-header__main {
    background: #672146; }
  .lbh-header__wrapper {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 40.0525em) {
      .lbh-header__wrapper--stacked {
        display: block; } }
  .lbh-header__title {
    display: inline-block;
    margin-top: 0;
    margin-right: 24px;
    margin-right: 1.5rem;
    margin-bottom: 0; }
  .lbh-header__title-link {
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    padding: 4px 0px;
    padding: 0.25rem 0rem;
    border-bottom: 1px solid transparent;
    text-decoration: none; }
    .lbh-header__title-link:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #ffc845;
      box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
      text-decoration: none; }
    .lbh-header__title-link:hover {
      border-bottom-color: #ffffff; }
    @media (min-width: 48.0625em) {
      .lbh-header__title-link {
        display: flex;
        align-items: flex-start; } }
  .lbh-header__logo {
    display: block;
    width: 152px;
    width: 9.5rem;
    height: 28px;
    height: 1.75rem;
    color: #ffffff; }
    @media (min-width: 48.0625em) {
      .lbh-header__logo {
        width: 206px;
        width: 12.875rem;
        height: 37px;
        height: 2.3125rem;
        margin-right: 8px;
        margin-right: 0.5rem; } }
  .lbh-header__logo-text {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important; }
  .lbh-header__service-name {
    font-family: "Open Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #0b0c0c;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    line-height: 1.625rem;
    margin-top: -10px;
    margin-top: -0.625rem;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 17px;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 20px;
    line-height: 1.25rem; }
    @media (min-width: 40.0625em) {
      .lbh-header__service-name {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 30px;
        line-height: 1.875rem; } }
    @media (min-width: 48.0625em) {
      .lbh-header__service-name {
        margin-top: 0;
        padding-top: 8px;
        padding-top: 0.5rem;
        font-size: 19px;
        font-size: 1.1875rem;
        letter-spacing: -0.7px;
        letter-spacing: -0.04375rem;
        line-height: 23px;
        line-height: 1.4375rem; } }
  .lbh-header--red .lbh-header__service-name, .lbh-header--purple .lbh-header__service-name {
    color: #f8e08e; }
  .lbh-header__title-link:focus .lbh-header__logo, .lbh-header__title-link:focus .lbh-header__service-name {
    color: #0b0c0c; }
  .lbh-header__service-name--short {
    text-transform: uppercase; }
    @media (min-width: 48.0625em) {
      .lbh-header__service-name--short {
        padding-top: 1px;
        padding-top: 0.0625rem;
        font-size: 29px;
        font-size: 1.8125rem;
        letter-spacing: -0.7px;
        letter-spacing: -0.04375rem;
        line-height: 35px;
        line-height: 2.1875rem; } }
  .lbh-header__links {
    display: flex;
    margin-top: 0;
    align-items: flex-start;
    justify-content: space-between; }
    @media (min-width: 48.0625em) {
      .lbh-header__links {
        justify-content: flex-end; } }
    .lbh-header__links a,
    .lbh-header__links p {
      font-family: "Open Sans";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #0b0c0c;
      font-size: 16px;
      font-size: 1rem;
      font-weight: 400;
      line-height: 26px;
      line-height: 1.625rem;
      margin-top: 8px;
      margin-top: 0.5rem;
      margin-bottom: 0;
      padding: 4px 0px;
      padding: 0.25rem 0rem;
      color: #ffffff;
      font-weight: 400; }
      @media (min-width: 40.0625em) {
        .lbh-header__links a,
        .lbh-header__links p {
          font-size: 19px;
          font-size: 1.1875rem;
          line-height: 30px;
          line-height: 1.875rem; } }
      .lbh-header__links a + a, .lbh-header__links a + p,
      .lbh-header__links p + a,
      .lbh-header__links p + p {
        margin-left: 18px;
        margin-left: 1.125rem; }
    .lbh-header__links a {
      font-family: "Open Sans";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
      .lbh-header__links a:focus {
        outline: 3px solid transparent;
        color: #0b0c0c;
        background-color: #ffc845;
        box-shadow: 0 -2px #ffc845, 0 4px #0b0c0c;
        text-decoration: none; }
    .lbh-header__links a:hover {
      text-decoration: none; }

.nav-items {
  position: relative;
  top: -15px; }
  .nav-items .nav-item {
    color: white !important;
    cursor: pointer;
    margin: 8px !important;
    font-weight: bold !important; }
    .nav-items .nav-item:hover {
      opacity: 0.8; }
    .nav-items .nav-item:active {
      opacity: 0.6; }

.govuk-hint {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color: #505a5f; }
  @media print {
    .govuk-hint {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-hint {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-hint {
      font-size: 14pt;
      line-height: 1.15; } }

.govuk-label:not(.govuk-label--m):not(.govuk-label--l):not(.govuk-label--xl) + .govuk-hint {
  margin-bottom: 10px; }

.govuk-fieldset__legend:not(.govuk-fieldset__legend--m):not(.govuk-fieldset__legend--l):not(.govuk-fieldset__legend--xl) + .govuk-hint {
  margin-bottom: 10px; }

.govuk-fieldset__legend + .govuk-hint {
  margin-top: -5px; }

.lbh-hint {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #525a5b; }
  @media (min-width: 40.0625em) {
    .lbh-hint {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.govuk-error-message {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  clear: both;
  color: #d4351c; }
  @media print {
    .govuk-error-message {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-error-message {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-error-message {
      font-size: 14pt;
      line-height: 1.15; } }

.govuk-label {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  display: block;
  margin-bottom: 5px; }
  @media print {
    .govuk-label {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-label {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-label {
      font-size: 14pt;
      line-height: 1.15; } }
  @media print {
    .govuk-label {
      color: #000000; } }

.govuk-label--xl {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  margin-bottom: 15px; }
  @media print {
    .govuk-label--xl {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-label--xl {
      font-size: 48px;
      font-size: 3rem;
      line-height: 1.0416666667; } }
  @media print {
    .govuk-label--xl {
      font-size: 32pt;
      line-height: 1.15; } }

.govuk-label--l {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.0416666667;
  margin-bottom: 15px; }
  @media print {
    .govuk-label--l {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-label--l {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 1.1111111111; } }
  @media print {
    .govuk-label--l {
      font-size: 24pt;
      line-height: 1.05; } }

.govuk-label--m {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin-bottom: 10px; }
  @media print {
    .govuk-label--m {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-label--m {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.25; } }
  @media print {
    .govuk-label--m {
      font-size: 18pt;
      line-height: 1.15; } }

.govuk-label--s {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25; }
  @media print {
    .govuk-label--s {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-label--s {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-label--s {
      font-size: 14pt;
      line-height: 1.15; } }

.govuk-label-wrapper {
  margin: 0; }

.govuk-input {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  @media print {
    .govuk-input {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-input {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-input {
      font-size: 14pt;
      line-height: 1.15; } }
  .govuk-input:focus {
    outline: 3px solid #ffc845;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px; }

.govuk-input::-webkit-outer-spin-button,
.govuk-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; }

.govuk-input[type="number"] {
  -moz-appearance: textfield; }

.govuk-input--error {
  border: 2px solid #d4351c; }
  .govuk-input--error:focus {
    border-color: #0b0c0c; }

.govuk-input--width-30 {
  max-width: 59ex; }

.govuk-input--width-20 {
  max-width: 41ex; }

.govuk-input--width-10 {
  max-width: 23ex; }

.govuk-input--width-5 {
  max-width: 10.8ex; }

.govuk-input--width-4 {
  max-width: 9ex; }

.govuk-input--width-3 {
  max-width: 7.2ex; }

.govuk-input--width-2 {
  max-width: 5.4ex; }

.govuk-input__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .govuk-input__wrapper .govuk-input {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto; }
  .govuk-input__wrapper .govuk-input:focus {
    z-index: 1; }
  @media (max-width: 19.99em) {
    .govuk-input__wrapper {
      display: block; }
      .govuk-input__wrapper .govuk-input {
        max-width: 100%; } }

.govuk-input__prefix,
.govuk-input__suffix {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  display: inline-block;
  min-width: 40px;
  min-width: 2.5rem;
  height: 40px;
  height: 2.5rem;
  padding: 5px;
  border: 2px solid #0b0c0c;
  background-color: #f3f2f1;
  text-align: center;
  white-space: nowrap;
  cursor: default;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  @media print {
    .govuk-input__prefix,
    .govuk-input__suffix {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-input__prefix,
    .govuk-input__suffix {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737; } }
  @media print {
    .govuk-input__prefix,
    .govuk-input__suffix {
      font-size: 14pt;
      line-height: 1.15; } }
  @media (max-width: 40.0525em) {
    .govuk-input__prefix,
    .govuk-input__suffix {
      line-height: 1.6; } }
  @media (max-width: 19.99em) {
    .govuk-input__prefix,
    .govuk-input__suffix {
      display: block;
      height: 100%;
      white-space: normal; } }

@media (max-width: 19.99em) {
  .govuk-input__prefix {
    border-bottom: 0; } }
@media (min-width: 20em) {
  .govuk-input__prefix {
    border-right: 0; } }

@media (max-width: 19.99em) {
  .govuk-input__suffix {
    border-top: 0; } }
@media (min-width: 20em) {
  .govuk-input__suffix {
    border-left: 0; } }

.lbh-input {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0b0c0c;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  line-height: 1.625rem; }
  @media (min-width: 40.0625em) {
    .lbh-input {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 30px;
      line-height: 1.875rem; } }

.govuk-button {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #ffffff;
  background-color: #00703c;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none; }
  @media print {
    .govuk-button {
      font-family: sans-serif; } }
  @media (min-width: 40.0625em) {
    .govuk-button {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1; } }
  @media print {
    .govuk-button {
      font-size: 14pt;
      line-height: 19px; } }
  @media (min-width: 40.0625em) {
    .govuk-button {
      margin-bottom: 32px; } }
  @media (min-width: 40.0625em) {
    .govuk-button {
      width: auto; } }
  .govuk-button:link, .govuk-button:visited, .govuk-button:active, .govuk-button:hover {
    color: #ffffff;
    text-decoration: none; }
  .govuk-button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .govuk-button:hover {
    background-color: #005a30; }
  .govuk-button:active {
    top: 2px; }
  .govuk-button:focus {
    border-color: #ffc845;
    outline: 3px solid transparent;
    box-shadow: inset 0 0 0 1px #ffc845; }
  .govuk-button:focus:not(:active):not(:hover) {
    border-color: #ffc845;
    color: #0b0c0c;
    background-color: #ffc845;
    box-shadow: 0 2px 0 #0b0c0c; }
  .govuk-button:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent; }
  .govuk-button:active:before {
    top: -4px; }

.govuk-button--disabled,
.govuk-button[disabled="disabled"],
.govuk-button[disabled] {
  opacity: 0.5; }
  .govuk-button--disabled:hover,
  .govuk-button[disabled="disabled"]:hover,
  .govuk-button[disabled]:hover {
    background-color: #00703c;
    cursor: default; }
  .govuk-button--disabled:focus,
  .govuk-button[disabled="disabled"]:focus,
  .govuk-button[disabled]:focus {
    outline: none; }
  .govuk-button--disabled:active,
  .govuk-button[disabled="disabled"]:active,
  .govuk-button[disabled]:active {
    top: 0;
    box-shadow: 0 2px 0 #002d18; }

.govuk-button--secondary {
  background-color: #f3f2f1;
  box-shadow: 0 2px 0 #929191; }
  .govuk-button--secondary, .govuk-button--secondary:link, .govuk-button--secondary:visited, .govuk-button--secondary:active, .govuk-button--secondary:hover {
    color: #0b0c0c; }
  .govuk-button--secondary:hover {
    background-color: #dbdad9; }
    .govuk-button--secondary:hover[disabled] {
      background-color: #f3f2f1; }

.govuk-button--warning {
  background-color: #d4351c;
  box-shadow: 0 2px 0 #55150b; }
  .govuk-button--warning, .govuk-button--warning:link, .govuk-button--warning:visited, .govuk-button--warning:active, .govuk-button--warning:hover {
    color: #ffffff; }
  .govuk-button--warning:hover {
    background-color: #aa2a16; }
    .govuk-button--warning:hover[disabled] {
      background-color: #d4351c; }

.govuk-button--start {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (min-width: 40.0625em) {
    .govuk-button--start {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1; } }
  @media print {
    .govuk-button--start {
      font-size: 18pt;
      line-height: 1; } }

.govuk-button__start-icon {
  margin-left: 5px;
  vertical-align: middle;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media (min-width: 48.0625em) {
    .govuk-button__start-icon {
      margin-left: 10px; } }

.lbh-button {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 1.5em;
  margin-bottom: 0;
  padding: 12px 22px 10px;
  padding: 0.75rem 1.375rem 0.625rem;
  border-radius: 4px;
  background: #00664f;
  font-size: 19px;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 23px;
  line-height: 1.4375rem; }
  .lbh-button:not(.lbh-button--warning):not(.lbh-button--disabled):not([disabled]):hover {
    background: #00513f; }
  .lbh-button:disabled, .lbh-button:hover[disabled], .lbh-button--disabled, .lbh-button--disabled:hover {
    opacity: 1;
    background: #7fb2a7;
    box-shadow: 0 2px 0 #328472; }
  .lbh-button--start {
    padding: 15px 24px 13px;
    padding: 0.9375rem 1.5rem 0.8125rem;
    font-size: 27px;
    font-size: 1.6875rem;
    font-weight: 600;
    line-height: 30px;
    line-height: 1.875rem; }
    .lbh-button--start .govuk-button__start-icon {
      margin-left: 24px;
      margin-left: 1.5rem; }
  .lbh-button--add svg {
    margin-right: 10px; }
  .lbh-button--add svg path {
    fill: #00664f; }
  .lbh-button--add:hover svg path {
    fill: #ffffff; }
  .lbh-button--add, .lbh-button--secondary, .lbh-button--secondary:link, .lbh-button--secondary:visited {
    padding: 13px 22px 11px;
    padding: 0.8125rem 1.375rem 0.6875rem;
    border: 1px solid #00664f;
    color: #00664f;
    background: #ffffff; }
    .lbh-button--add:hover, .lbh-button--secondary:hover, .lbh-button--secondary:link:hover, .lbh-button--secondary:visited:hover {
      color: #ffffff;
      background: #00664f; }
    .lbh-button--add:disabled, .lbh-button--add.lbh-button--disabled, .lbh-button--add:hover[disabled], .lbh-button--add.lbh-button--disabled:hover, .lbh-button--secondary:disabled, .lbh-button--secondary.lbh-button--disabled, .lbh-button--secondary:hover[disabled], .lbh-button--secondary.lbh-button--disabled:hover, .lbh-button--secondary:link:disabled, .lbh-button--secondary:link.lbh-button--disabled, .lbh-button--secondary:link:hover[disabled], .lbh-button--secondary:link.lbh-button--disabled:hover, .lbh-button--secondary:visited:disabled, .lbh-button--secondary:visited.lbh-button--disabled, .lbh-button--secondary:visited:hover[disabled], .lbh-button--secondary:visited.lbh-button--disabled:hover {
      opacity: 1;
      color: #6f777b;
      background: #dee0e2; }
  .lbh-button--warning, .lbh-button--warning[disabled], .lbh-button--warning:hover[disabled] {
    background: #be3a34; }
  .lbh-button--warning:disabled, .lbh-button--warning:disabled:hover, .lbh-button--warning.lbh-button--disabled, .lbh-button--warning.lbh-button--disabled:hover {
    opacity: 0.5; }

#app-footer {
  position: relative;
  padding: 20px 20px 20px 10px;
  display: flex;
  background: black;
  flex-flow: row wrap;
  justify-content: space-around; }
  #app-footer .footer-col {
    text-align: center;
    position: relative;
    margin-top: 0px;
    flex: 1 0; }
    #app-footer .footer-col a {
      text-decoration: none;
      color: white; }
      #app-footer .footer-col a:hover {
        text-decoration: underline; }

#login-page {
  display: flex;
  flex-flow: wrap column;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  #login-page #login-form {
    width: 35%; }

#register-page {
  display: flex;
  flex-flow: wrap column;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  #register-page #register-form {
    width: 35%; }

* {
  font-family: 'Open Sans', sans-serif !important; }

#root {
  margin-top: 0px !important;
  min-height: 100vh; }

.page {
  min-height: 500px; }

/*# sourceMappingURL=App.css.map */
