@import "./utility/variables";

// External
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "~lbh-frontend/lbh/all";
@import 'react-loading-skeleton/dist/skeleton.css';

// Component Styling
@import "./components/header/header.style.scss";
@import "./components/link/link.style.scss";
@import "./components/form-input/form-input.style.scss";
@import "./components/button/button.style.scss";
@import "./components/footer/footer.style.scss";
@import "./components/apiPreview/apiPreview.style.scss";
@import "./components/pagination/pagination.style.scss";
@import "./components/contact-container/contact-container.style.scss";
@import "./components/home-container/home-container.style.scss";
@import "./components/sidebar/sidebar.style.scss";
@import "./components/breadcrumbs/breadcrumbs.style.scss";
@import "./components/environmentTags/environmentTags.style.scss";
@import "./components/error/error.style.scss";
@import "./components/announcement/announcement.style.scss";

// Page Styling
@import "./pages/login/login.style.scss";
@import "./pages/register/register.style.scss";
@import "./pages/apiCatalogue/apiCatalogue.style.scss";
@import "./pages/apiInformation/apiInformation.style.scss";
@import "./pages/home/home.style.scss";
@import "./pages/contact/contact.style.scss";

* {
  font-family: 'Open Sans', sans-serif !important;
  box-sizing: border-box !important;
}

body {
  margin-top: 0px !important;
}

#root {
  margin-top: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

[data-reach-dialog-overlay] {
  z-index: 1000;
}