// Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

// Import LBH Frontend library
$lbh-asset-path: "~lbh-frontend/lbh/assets";
@import "~lbh-frontend/lbh/all";

// Component Styling
@import "./components/header/header.style.scss";
@import "./components/link/link.style.scss";
@import "./components/form-input/form-input.style.scss";
@import "./components/button/button.style.scss";
@import "./components/footer/footer.style.scss";
@import "./components/apiPreview/apiPreview.style.scss";

// Page Styling
@import "./pages/login/login.style.scss";
@import "./pages/register/register.style.scss";

* {
  font-family: 'Open Sans', sans-serif !important;
}

#root {
  margin-top: 0px !important;
  min-height: 100vh;
  overflow-x: hidden;
}

.page {
  min-height: 500px;
}
