
#api-info-page {
    display: flex;
    max-width: 90%;
    justify-content: center;
    align-items: flex-start;
    align-self: center;
    > .main-container {
      flex: 3;
    }
    > .sidebar {
      flex: 1;
      padding-left: 5em;
      text-align: left;
    }
}

.tags {
    span.lbh-tag{
        margin: 0.2em;
    }
}

.lbh-table, .lbh-caption{
    width: 80%;
    align-self: center;
    table-layout: fixed;
    overflow-wrap: break-word;

    ul { list-style-type: none; }
    li {
        margin: 0
    }
}